 *{
 	margin: 0px;
 	padding: 0px;
 }

 #wrapper{
 	background-color: lightgrey;
 	font-family: sans-serif!important;
	margin:0px auto;
	min-height:600px;
	width:1100px;
}

/*	#wrapper img{
		display:inline-block; vertical-align:top;
		margin-left: 30px;
		margin-top: 10px;
	}*/

/*	#wrapper h3{
		background-image: linear-gradient(to top, #CCAA00 0%, #F0E06C 100%);
		font-size: 11px;
		font-weight: bolder;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
	}
*/
#header{
	background-image: linear-gradient(to top, #FFFFFF 0%, #CECCC5 100%);
	height:130px;
	margin-top:30px;
}


	#header span{
		display: inline-block;
		font-family: sans-serif;
		font-size: 17px;
		font-weight: bolder;
		margin-left: 425px;
		margin-top: 40px;
		margin-bottom: 0px;
	}


	#site-menu {
		background-image: linear-gradient(to top, #FFFFFF 0%, #D1DBDE 100%);
		border-top: 1px solid rgb(161, 167, 161);
		display:inline-block; vertical-align:top;
		font-size: 12px;
		font-weight: bolder;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-bottom: 10px;
		padding-right: 183px;
		padding-top: 5px;
	}

		#site-menu li{
			border-left: 1px solid #C0C0C0;
			display:inline;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 5px;
			padding-bottom: 5px;

		}

		#site-menu li:last-child{
			border-right:1px solid #C0C0C0;
		}

		#site-menu li:first-child{
			margin-left: 50px;
		}

		#site-menu li a{
			color: #686868;
			text-decoration: none;
			padding-top: 5px;
		}

#main-content{
	background-color: black;
	height:470px;
}

	#main-content img{
		display:inline-block; vertical-align:top;
		margin-left: 30px;
		margin-top: 10px;
	}


	#main-content span.important{
		font-weight: bolder;
	}

	#main-content #About{
		background: linear-gradient(to right, rgb(147, 149, 151), rgb(103, 105, 107)80%, rgb(60, 60, 60));
		display:inline-block; vertical-align:top;
		min-height: 263px;
		margin-left: 30px;
		margin-top: 10px;
		width: 600px;
	}

	#main-content #About h3{
		background-image: linear-gradient(to top, #CCAA00 0%, #F0E06C 100%);
		font-size: 11px;
		font-weight: bolder;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
	}

	#main-content #About ul{

		color: whitesmoke;
		list-style-type: none;
		margin-left: 20px;
	}

	#main-content #About ul li{
		font-size: 13px;
		margin-bottom: 10px;
	}

	#main-content #About ul li:first-child{

		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: bolder;
		font-size: 16px;
	}

	#main-content p{
		color: rgb(179, 161, 128);
		display:inline-block;
		font-size: 11px;
		margin-top: 10px;
		margin-left: 10px;
		vertical-align:top;
	}
